/* Some Sass variables */
body {
  margin: 0;
  font-family: 'Roboto';
  font-size: 14px;
  line-height: 1.3em;
}

.ui {
  height: 100vh;
  display: grid;
  grid-template-rows: 40px 50px 1fr;
  background-color: #0079bf;
  color: #eee;
}

.navbar {
  padding-left: 10px;
  display: flex;
  align-items: center;
}
.navbar.app {
  background-color: #0067a3;
  font-size: 1.5rem;
}
.navbar.board {
  font-size: 1.1rem;
}
